# Config file for https://travis-ci.org/

language: php

php:
- 7.2

# Note: Code coverage requires php-xDebug extension enabled on CI server

install:
- travis_retry composer install --no-interaction --no-suggest

script:
- composer test

#after_script:

# after_success:
# # Submit coverage report to https://codecov.io
# - bash <(curl -s https://codecov.io/bash)

#after_failure:

# Monitor only these branches
branches:
  only:
  - master

# You can delete the cache using travis-ci web interface
cache:
  directories:
  - $HOME/.composer/cache
