<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" stopOnFailure="true">

  <testsuites>
    <testsuite name="fun-php test suite">
      <file> ./tests/ArraysTest.php </file>
      <file> ./tests/PlaceholderTest.php </file>
      <file> ./tests/ObjectsTest.php</file>
      <file> ./tests/CompositionTest.php</file>
      <file> ./tests/SpecialUseCasesTest.php</file>
    </testsuite>
  </testsuites>

</phpunit>
